{% extends 'base.html' %}

{% load static %}

{% block content %}

<div class="storis-container">
    <!-- <div class="content">
        <img src="{% static 'store_image/1.jpg' %}" alt="">
    </div>
    <div class="content">
        <img src="{% static 'store_image/1.jpg' %}" alt="">
    </div>
    <div class="content">
        <img src="{% static 'store_image/1.jpg' %}" alt="">
    </div>
    <div class="content">
        <img src="{% static 'store_image/1.jpg' %}" alt="">
    </div>
    <div class="content">
        <img src="{% static 'store_image/1.jpg' %}" alt="">
    </div>
    <div class="content">
        <img src="{% static 'store_image/1.jpg' %}" alt="">
    </div>
    <div class="content">
        <img src="{% static 'store_image/1.jpg' %}" alt="">
    </div>
    <div class="content">
        <img src="{% static 'store_image/1.jpg' %}" alt="">
    </div>
    <div class="content">
        <img src="{% static 'store_image/1.jpg' %}" alt="">
    </div>
    <div class="content">
        <img src="{% static 'store_image/1.jpg' %}" alt="">
    </div> -->
</div>

    <div class="story-full">
        <div class="content">
            <div class="close-btn">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="#fff"
                    class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                </svg>

            </div>
            <div class="left-arrow">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="#fff"
                    class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 19.5L3 12m0 0l7.5-7.5M3 12h18" />
                </svg>

            </div>
            <img src="{% static 'store_image/2.jpeg' %}" alt="">

            <div class="right-arrow">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="#fff"
                    class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 4.5L21 12m0 0l-7.5 7.5M21 12H3" />
                </svg>

            </div>
            <div class="title">
                Test Title
            </div>
        </div>
    </div>
    <h1 style="text-align: center; margin-top: 100px;">Hello</h1>


{% endblock %}